nav ul a,
nav .brand-logo
  color: #444

p
  line-height: 2rem

.button-collapse
  color: #26a69a

.parallax-container
  min-height: 380px
  line-height: 0
  height: auto
  color: rgba(255, 255, 255, .9)

.parallax-container .section
  width: 100%

@media only screen and (max-width: 992px)
  .parallax-container .section
    position: absolute
    top: 40%

  #index-banner .section
    top: 10%

@media only screen and (max-width: 600px)
  #index-banner .section
    top: 0

.icon-block
  padding: 0 15px

.icon-block .material-icons
  font-size: inherit

footer.page-footer
  margin: 0

/* =========================== CSS =========================== */
#back-button
  cursor: pointer

#logo-container > img
  height: 54px
  margin-top: 5px

#mapview
  height: 710px
  margin-bottom: 15px

.content
  margin: 25px auto
  max-width: 1700px

.earthquake-item
  cursor: pointer
  min-height: auto !important
  transition: 350ms all

.earthquake-item:hover
  background-color: #d1d1d1
  transition: 350ms all

.earthquakes-collection
  max-height: 650px
  overflow-y: auto

.last-update
  background-color: #448AFF
  color: #e1e1e1
  height: 50px
  line-height: 50px
  margin: 0
  padding: 0 20px
  vertical-align: middle

.magnitude
  line-height: 42px
  text-align: center
  vertical-align: middle

.page-footer a
  font-weight: lighter !important

.time-format
  color: #777777

